/* CSS FOR REGISTER FORM */
.fs-login-gender {
    border: 1px solid #aaa;
    width: 100%;
    height: 42px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.fs-login-file-input {
    border: none !important;
    line-height: 0 !important;
    padding-left: 0 !important;
}

/* CSS FOR PRODUCT: COLOR IMG, SIZE.... */
.item-colors img {
    display: inline-block !important;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    box-shadow: 0 4px 8px 0 rgb(193, 188, 188), 0 6px 20px 0 rgb(193, 188, 188);
    cursor:pointer;
}

.fs-product-color img, .fs-product-modal-color img {
    width: 30px;
    height: 30px;
    cursor:pointer;
}

.item-colors img:hover{
    box-shadow: 0 0 8px rgba(20, 10, 0, 1);
}

.fs-product-color-border, .fs-product-modal-color-border {
    border: 2px solid #ccc;
    padding: 2px;
    float: left;
    margin-right: 10px;
}

.fs-product-color-border:hover, .fs-product-modal-color-border:hover {
    border-color: #000; 
}

.fs-clear-fix {
    clear:both;
}

.fs-product-selected {
    border-color: #000 !important; 
}

.fs-product-size {
    margin-bottom: 55px;
    text-align: center;
}

.fs-particular-size {
    min-width: 35px;
    height: 35px;
    border: 2px solid #ccc;
    padding: 2px;
    float: left;
    margin-right: 13px;
    margin-top: 6px;
    text-align: center;
    line-height: 28px !important;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: #d6644a;
}

.fs-unselectable {
    background: #e6e6e6;
    color: #ccc;
    cursor: not-allowed;
}

a.fs-product-modal-link-to-detail:hover {
    background: #d6644a;
}

a.fs-product-modal-link-to-detail{
    height: 33px;
    border: none;
    line-height: 33px;
    background: #333;
    padding: 0 20px;
    display: inline-block;
    font-family: Montserrat;
    font-size: 11px;
    border-radius: 3px;
    color: #fff !important;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.select-wraps p {
    margin: 0 !important;
}

.fs-modal-btn-addtobag:hover, .fs-modal-btn-addtobag:visited, .addtobag:hover, .addtobag:visited {
    color: #fff !important;
}

.fs-modal-btn-addtobag:hover {
    background: #333;
}

.fs-modal-btn-addtobag {
    height: 33px;
    border: none;
    line-height: 33px;
    background: #d6644a;
    padding: 0 20px;
    display: inline-block;
    font-family: Montserrat;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    margin: 8px 0 0;
}

.modal-ku {
    width: 900px !important;
    margin: auto;
}

/* CSS FOR USER-LOGIN-MODAL: */

/*
    STYLE
*/

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #399599;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.modal-content {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	border: 0;
	text-align: left;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
}

.modal-body {
	padding: 25px 25px 30px 25px;
	background: #eee;
	text-align: left;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}


/*
    FORM-ELEMENTS
*/

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



button.btn {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #399599;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #399599; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #399599; color: #fff; }



/*.modal-body img {
        margin-bottom: 15px;
}

.modal-body form textarea {
        height: 100px;
}

.modal-body form .input-error {
        border-color: #399599;
}*/

